<div class="container">
  <h1>
    Последние посты
  </h1>

    <div class="wrapper-posts">
      <div class="post">
        <div class="title">Тайтл</div>
        <div class="post__img" [ngStyle]="{'background-image': 'url(' + img + ')'}"></div>
        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
      </div>
      <div class="post">
        <div class="title">Тайтл</div>
        <div class="post__img"></div>
        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
      </div>
      <div class="post">
        <div class="title">Тайтл</div>
        <div class="post__img"></div>
        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
      </div>
      <div class="post">
        <div class="title">Тайтл</div>
        <div class="post__img"></div>
        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
      </div>
    </div>
</div>
