<header class="header">
  <nav>
    <ul>
      <li><a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        >Главная</a> </li>
      <li><a
        routerLink="/posts"
        routerLinkActive="active"
        >Посты</a> </li>
      <li><a
         routerLink="/about-me"
        routerLinkActive="active"
        >Обо мне</a> </li>
        <li><a
          routerLink="/info-user"
         routerLinkActive="active"
         >Информация о тебе</a> </li>
    </ul>
  </nav>
</header>
